@font-face {
  font-family: 'YogaAlliance';
  src: url("../fonts/YogaAlliance.eot");
  src: url("../fonts/YogaAlliance.eot?#iefix") format("embedded-opentype"), url("../fonts/YogaAlliance.woff") format("woff"), url("../fonts/YogaAlliance.ttf") format("truetype"), url("../fonts/YogaAlliance.svg#YogaAlliance") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot");
  src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot");
  src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot");
  src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot");
  src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.ttf") format("truetype");
}

[data-icon],
[data-icon]:before {
  font-family: 'YogaAlliance';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-certificate, .icon-leaf, .icon-home, .icon-home-2, .icon-pencil, .icon-stack, .icon-coin, .icon-support, .icon-clock, .icon-envelop, .icon-mail-send, .icon-calendar, .icon-user, .icon-bubbles, .icon-busy, .icon-vcard, .icon-cog, .icon-cog-2, .icon-bars, .icon-stats, .icon-dashboard, .icon-briefcase, .icon-resize, .icon-enter, .icon-exit, .icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left, .icon-checkbox, .icon-checkbox-unchecked, .icon-radio-checked, .icon-radio-unchecked, .icon-thumbs-up, .icon-star, .icon-star-2, .icon-star-3, .icon-plus, .icon-checkmark, .icon-warning, .icon-warning-2, .icon-question, .icon-question-2, .icon-plus-circle, .icon-plus-circle-2, .icon-minus-circle, .icon-minus-circle-2, .icon-info, .icon-info-2, .icon-cancel-circle, .icon-cancel-circle-2, .icon-checkmark-circle, .icon-checkmark-circle-2, .icon-file-pdf, .icon-newspaper, .icon-pencil-2, .icon-star-4, .icon-search, .icon-double-angle-left, .icon-double-angle-right, .icon-print, .icon-opennewwindow, .icon-filter, .icon-remove, .icon-disk, .icon-undo, .icon-redo, .icon-eye, .icon-eye-blocked, .icon-facebook, .icon-pinterest, .icon-twitter-old, .icon-folder-open, .icon-calendar-2, .icon-arrow-right-2, .icon-arrow-left-2, .icon-image, .icon-images, .icon-instagram, .icon-google-plus, .icon-scale-up, .icon-scale-down {
  font-family: 'YogaAlliance';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-certificate:hover, .icon-leaf:hover, .icon-home:hover, .icon-home-2:hover, .icon-pencil:hover, .icon-stack:hover, .icon-coin:hover, .icon-support:hover, .icon-clock:hover, .icon-envelop:hover, .icon-mail-send:hover, .icon-calendar:hover, .icon-user:hover, .icon-bubbles:hover, .icon-busy:hover, .icon-vcard:hover, .icon-cog:hover, .icon-cog-2:hover, .icon-bars:hover, .icon-stats:hover, .icon-dashboard:hover, .icon-briefcase:hover, .icon-resize:hover, .icon-enter:hover, .icon-exit:hover, .icon-arrow-up:hover, .icon-arrow-right:hover, .icon-arrow-down:hover, .icon-arrow-left:hover, .icon-checkbox:hover, .icon-checkbox-unchecked:hover, .icon-radio-checked:hover, .icon-radio-unchecked:hover, .icon-thumbs-up:hover, .icon-star:hover, .icon-star-2:hover, .icon-star-3:hover, .icon-plus:hover, .icon-checkmark:hover, .icon-warning:hover, .icon-warning-2:hover, .icon-question:hover, .icon-question-2:hover, .icon-plus-circle:hover, .icon-plus-circle-2:hover, .icon-minus-circle:hover, .icon-minus-circle-2:hover, .icon-info:hover, .icon-info-2:hover, .icon-cancel-circle:hover, .icon-cancel-circle-2:hover, .icon-checkmark-circle:hover, .icon-checkmark-circle-2:hover, .icon-file-pdf:hover, .icon-newspaper:hover, .icon-pencil-2:hover, .icon-star-4:hover, .icon-search:hover, .icon-double-angle-left:hover, .icon-double-angle-right:hover, .icon-print:hover, .icon-opennewwindow:hover, .icon-filter:hover, .icon-remove:hover, .icon-disk:hover, .icon-undo:hover, .icon-redo:hover, .icon-eye:hover, .icon-eye-blocked:hover, .icon-facebook:hover, .icon-pinterest:hover, .icon-twitter-old:hover, .icon-folder-open:hover, .icon-calendar-2:hover, .icon-arrow-right-2:hover, .icon-arrow-left-2:hover, .icon-image:hover, .icon-images:hover, .icon-instagram:hover, .icon-google-plus:hover, .icon-scale-up:hover, .icon-scale-down:hover {
  text-decoration: none !important;
}

.icon-certificate:before {
  content: "\61";
}

.icon-leaf:before {
  content: "\62";
}

.icon-home:before {
  content: "\65";
}

.icon-home-2:before {
  content: "\66";
}

.icon-pencil:before {
  content: "\67";
}

.icon-stack:before {
  content: "\68";
}

.icon-coin:before {
  content: "\69";
}

.icon-support:before {
  content: "\6a";
}

.icon-clock:before {
  content: "\6b";
}

.icon-envelop:before {
  content: "\6c";
}

.icon-mail-send:before {
  content: "\6d";
}

.icon-calendar:before {
  content: "\6e";
}

.icon-user:before {
  content: "\6f";
}

.icon-bubbles:before {
  content: "\70";
}

.icon-busy:before {
  content: "\71";
}

.icon-vcard:before {
  content: "\73";
}

.icon-cog:before {
  content: "\74";
}

.icon-cog-2:before {
  content: "\75";
}

.icon-bars:before {
  content: "\76";
}

.icon-stats:before {
  content: "\77";
}

.icon-dashboard:before {
  content: "\78";
}

.icon-briefcase:before {
  content: "\79";
}

.icon-resize:before {
  content: "\7a";
}

.icon-enter:before {
  content: "\41";
}

.icon-exit:before {
  content: "\42";
}

.icon-arrow-up:before {
  content: "\43";
}

.icon-arrow-right:before {
  content: "\44";
}

.icon-arrow-down:before {
  content: "\45";
}

.icon-arrow-left:before {
  content: "\46";
}

.icon-checkbox:before {
  content: "\47";
}

.icon-checkbox-unchecked:before {
  content: "\48";
}

.icon-radio-checked:before {
  content: "\49";
}

.icon-radio-unchecked:before {
  content: "\4a";
}

.icon-thumbs-up:before {
  content: "\4b";
}

.icon-star:before {
  content: "\4c";
}

.icon-star-2:before {
  content: "\4d";
}

.icon-star-3:before {
  content: "\4e";
}

.icon-plus:before {
  content: "\4f";
}

.icon-checkmark:before {
  content: "\50";
}

.icon-warning:before {
  content: "\51";
}

.icon-warning-2:before {
  content: "\52";
}

.icon-question:before {
  content: "\53";
}

.icon-question-2:before {
  content: "\54";
}

.icon-plus-circle:before {
  content: "\55";
}

.icon-plus-circle-2:before {
  content: "\56";
}

.icon-minus-circle:before {
  content: "\57";
}

.icon-minus-circle-2:before {
  content: "\58";
}

.icon-info:before {
  content: "\59";
}

.icon-info-2:before {
  content: "\5a";
}

.icon-cancel-circle:before {
  content: "\31";
}

.icon-cancel-circle-2:before {
  content: "\32";
}

.icon-checkmark-circle:before {
  content: "\33";
}

.icon-checkmark-circle-2:before {
  content: "\34";
}

.icon-file-pdf:before {
  content: "\39";
}

.icon-newspaper:before {
  content: "\28";
}

.icon-pencil-2:before {
  content: "\29";
}

.icon-star-4:before {
  content: "\21";
}

.icon-search:before {
  content: "\60";
}

.icon-double-angle-left:before {
  content: "\63";
}

.icon-double-angle-right:before {
  content: "\64";
}

.icon-print:before {
  content: "\72";
}

.icon-opennewwindow:before {
  content: "\5b";
}

.icon-filter:before {
  content: "\5d";
}

.icon-remove:before {
  content: "\30";
}

.icon-disk:before {
  content: "\3c";
}

.icon-undo:before {
  content: "\3e";
}

.icon-redo:before {
  content: "\7b";
}

.icon-eye:before {
  content: "\35";
}

.icon-eye-blocked:before {
  content: "\36";
}

.icon-facebook:before {
  content: "\37";
}

.icon-pinterest:before {
  content: "\38";
}

.icon-twitter-old:before {
  content: "\7c";
}

.icon-folder-open:before {
  content: "\7d";
}

.icon-calendar-2:before {
  content: "\7e";
}

.icon-arrow-right-2:before {
  content: "\e001";
}

.icon-arrow-left-2:before {
  content: "\23";
}

.icon-image:before {
  content: "\24";
}

.icon-images:before {
  content: "\25";
}

.icon-instagram:before {
  content: "\5e";
}

.icon-google-plus:before {
  content: "\26";
}

.icon-scale-up:before {
  content: "\2a";
}

.icon-scale-down:before {
  content: "\e003";
}

body {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  line-height: 1.3;
}

#ie7 .container,
#ie8 .container {
  width: auto;
  max-width: 1170px;
  min-width: 940px;
}

.container-fluid {
  padding: 0;
}

.ya-pageheader {
  padding: 28px 0 0;
  margin: 0;
  min-height: 123px;
  border: none;
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), color-stop(50%, white), to(white));
  background-image: -webkit-linear-gradient(#dddddd, white 50%, white);
  background-image: -moz-linear-gradient(top, #dddddd, white 50%, white);
  background-image: -o-linear-gradient(#dddddd, white 50%, white);
  background-image: linear-gradient(#dddddd, #ffffff 50%, #ffffff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDDDDDD', endColorstr='#FFFFFFFF', GradientType=0);
}
.ya-pageheader .ya-logo {
  text-align: center;
}
.ya-pageheader h2 {
  margin: 44px 0 0;
  font-size: 28px;
  color: #b4341d;
  font-weight: normal;
  text-transform: capitalize;
}

.ya-pagenav {
  text-align: center;
  padding: 20px 0;
  background-color: #b63310;
  background-image: -moz-linear-gradient(top, #cb4810, #971512);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb4810), to(#971512));
  background-image: -webkit-linear-gradient(top, #cb4810, #971512);
  background-image: -o-linear-gradient(top, #cb4810, #971512);
  background-image: linear-gradient(to bottom, #cb4810, #971512);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCB4810', endColorstr='#FF971512', GradientType=0);
}
.ya-pagenav ul {
  margin: 0;
}
.ya-pagenav a {
  color: white;
  display: block;
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  padding: 2px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.ya-pagenav a:focus, .ya-pagenav a:hover {
  text-decoration: none;
  outline: none;
  background: #b4341d;
}

.ya-account-bar {
  min-height: 58px;
  text-align: right;
  margin: 0;
  border-bottom: 1px solid #D6CDBF;
  background: url(http://yadnn7pdev.azurewebsites.net/Portals/_default/Skins/Bootstrap/img/account-bar-bg.jpg?1374791703) repeat-x;
}
.ya-account-bar ul {
  margin: 0;
  padding: 18px 40px;
}
.ya-account-bar li {
  padding: 0 10px !important;
}
.ya-account-bar a {
  font-family: ProximaNova-Semibold;
  color: black;
  display: block;
}

.ya-main-content {
  min-height: 420px;
  padding: 40px 30px;
  border-right: 30px solid #f4f0eb;
  border-left: 30px solid #f4f0eb;
}

.ya-footer-top {
  background-color: #b63310;
  background-image: -moz-linear-gradient(top, #cb4810, #971512);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb4810), to(#971512));
  background-image: -webkit-linear-gradient(top, #cb4810, #971512);
  background-image: -o-linear-gradient(top, #cb4810, #971512);
  background-image: linear-gradient(to bottom, #cb4810, #971512);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCB4810', endColorstr='#FF971512', GradientType=0);
  padding: 40px 0;
  text-align: center;
}

.ya-footer-bottom {
  padding: 40px 40px 74px;
  text-align: center;
}
.ya-footer-bottom .divider:before {
  content: '';
}

@media (max-width: 1200px) {
  .ya-main-content {
    padding: 20px;
  }
}
@media (max-width: 979px) {
  .ya-pageheader {
    padding-top: 25px;
  }

  .ya-pagenav a {
    padding: 0 10px;
  }

  .ya-main-content {
    border-right: 15px solid #f4f0eb;
    border-left: 15px solid #f4f0eb;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .ya-pageheader {
    padding-top: 0;
  }
  .ya-pageheader .ya-tagline, .ya-pageheader .ya-logo {
    padding: 10px 20px;
  }
  .ya-pageheader h2 {
    margin: 0;
  }

  .ya-pagenav, .ya-footer-bottom {
    padding: 10px;
  }
  .ya-pagenav li:not(.divider), .ya-footer-bottom li:not(.divider) {
    display: block !important;
    text-align: left;
    padding: 0;
  }
  .ya-pagenav ul, .ya-footer-bottom ul {
    display: none;
  }
  .ya-pagenav a, .ya-footer-bottom a {
    padding: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .ya-main-content {
    border-right: 5px solid #f4f0eb;
    border-left: 5px solid #f4f0eb;
  }

  .ya-footer-bottom .divider {
    display: none;
  }
}
